*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App{
  font-family: arial;
}

.container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  height: 100vh;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.container h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}

.custom-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #0056b3;
}

.header{
  display: flex;
  justify-content: space-around;
}

h2{
  text-align: center;
}